<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      [src]="pokemon.image"
      alt="Pokemon Image"
    />
  </div>
  <div class="pokemon-card__number">
    <p>N° {{ leadingZero(pokemon.number) }}</p>
  </div>
  <div class="pokemon-card__name">
    <p>{{ pokemon.name }}</p>
  </div>
  <div class="pokemon-card__types">
    <div
      class="pokemon-card__type"
      *ngFor="let type of pokemon.types"
      [class]="'pokemon-card__type--' + type.toLowerCase()"
    >
      {{ type }}
    </div>
  </div>
</div>
